Package: rootless-compat
Name: rootless-compat
Version: 0.4
Architecture: iphoneos-arm
Description: Compat Layer for Rootless Tweaks
Maintainer: roothide
Author: roothide
Section: RootHide Patches
Depends: com.roothide.patchloader(>= 0.0.2)
